.sidebar {
  width: 18%;
  min-height: 100vh;
  border-right: 1.5px solid #e5e5e5;
  font-size: max(1vw, 10px);
  background-color: #fff;
}

.sidebar-options {
  padding-top: 50px;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-option {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #e5e5e5;
  border-right: 0;
  padding: 10px 15px;
  border-radius: 6px 0 0 6px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar-option:hover {
  background-color: #fff4f2;
  border-color: tomato;
}

.sidebar-option img {
  width: 22px;
}

.sidebar-option p {
  margin: 0;
  color: #555;
  font-weight: 500;
}

@media (max-width: 900px) {
  .sidebar-option p {
    display: none;
  }

  .sidebar {
    width: 70px;
  }

  .sidebar-options {
    padding-left: 10px;
  }
}
.sidebar-option.active{
  background-color: #fff0ed;
  border-color: tomato;
}